<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- css -->
    <%- include('includes/style') %>
    <link rel="stylesheet" href="css/write.css" />
  </head>
  <body>
    <!-- login -->
    <%- include('includes/login') %>

    <!-- navbar -->
    <%- include('includes/nav') %>

    <div id="contents-position">
      <a href="/tekken">철권</a>
      <a href="/escape">방탈출</a>
      <a href="/packman">팩맨</a>
      <a href="/quiz">퀴즈</a>
    </div>

    <!-- js -->
    <%- include('includes/js') %>
  </body>
</html>
